{% extends 'main/layout.html' %}

{% block content %}
<div class="map">
    <h1>Расположение наших заведений</h1>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abf72b191a47f7e91ba827c9db6e1602f5861abad2e81177dd5bb7743b8dc4e03&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</div>
<div class="contact-text">
    <h1 class="call-text">Номера телефонов для заказа:</h1>
    <p class='call-number'>+7(XXX)XXX-XX-XX</p><br>
    <p class='call-number'>+7(XXX)XXX-XX-XX</p><br>
</div>
{% endblock %}